<div class="row">
	<h3 class="text-center m-bottom">グループ一覧</h3>
	<section class="text-center">
		<%= link_to 'グループを追加する', new_group_path, class: "btn btn-success btn-lg" %>
	</section>
	<table class="table p-top">
		<thead>
			<tr>
				<th>グループ名</th>
				<th>更新日時</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<% @groups.each do |group| %>
			<tr>
				<td><%= group.name %></td>
				<td><%= group.updated_at %></td>
				<td>
					<%= link_to '編集する', edit_group_path(group), class: "btn btn-primary" %>
					<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#conf-box">削除する</button>
					<div class="modal fade" id="conf-box" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-body">本当に削除しますか？</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
									<%= link_to '削除', group, method: :delete, class: "btn btn-danger" %>
								</div>
							</div>
						</div>
					</div>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<br>
</div>
