<div class="row">
	<h3 class="text-center m-bottom">グループ一覧</h3>
	<section class="text-center">
		<%= link_to 'グループを追加する', new_group_path, class: "btn btn-success col-md-4 col-md-offset-4" %>
	</section>
	<table class="table p-top">
		<thead>
			<tr>
				<th>グループ名</th>
				<th>更新日時</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<% @groups.each do |group| %>
			<tr>
				<td><%= group.name %></td>
				<td><%= group.updated_at %></td>
				<td>
					<%= link_to '編集する', edit_group_path(group), class: "btn btn-primary" %>
					<%= link_to '削除する', group, method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger" %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<br>
</div>
