<div class="row">
	<h3 class="text-center m-bottom">プロジェクト一覧</h3>
	<section class="text-center">
		<%= link_to 'プロジェクトを追加する', new_project_path, class: "btn btn-success btn-lg" %>
	</section>
	<table class="table">
		<thead>
			<tr>
				<th>コード</th>
				<th>プロジェクト名</th>
				<th>更新日時</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<% @projects.each do |project| %>
			<tr>
				<td><%= project.code %></td>
				<td><%= project.name %></td>
				<td><%= project.updated_at %></td>
				<td>
					<%= link_to '編集する', edit_project_path(project), class: "btn btn-primary" %>
					<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal<%= project.id %>">削除する</button>
					<div class="modal fade" id="modal<%= project.id %>" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-body">本当に削除しますか？</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
									<%= link_to '削除', project, method: :delete, class: "btn btn-danger" %>
								</div>
							</div>
						</div>
					</div>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<br>
</div>
