<% @all_reports.each do |all_report| %>
	<% if current_user.admin? %>
		<tr>
			<td><%= all_report.user.name %></td>
			<td><%= all_report.project.name %></td>
			<td><%= simple_format(all_report.done) %></td>
			<td><%= simple_format(all_report.understood) %></td>
			<td><%= simple_format(all_report.next) %></td>
			<td>
				<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#conf-box">削除する</button>
				<div class="modal fade" id="conf-box" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-body">本当に削除しますか？</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
							<%= link_to '削除', all_report, method: :delete, class: "btn btn-danger" %>
						</div>
					</div>
					</div>
				</div>
			</td>
		</tr>
	<% else %>
		<tr>
			<td><%= all_report.user.name %></td>
			<td><%= all_report.project.name %></td>
			<td><%= simple_format(all_report.done) %></td>
			<td><%= simple_format(all_report.understood) %></td>
			<td><%= simple_format(all_report.next) %></td>
		</tr>
	<% end %>
<% end %>
