<% @week_reports.each do |week_report| %>
	<tr>
		<td><%= week_report.project.name %></td>
		<td><%= simple_format(week_report.done) %></td>
		<td><%= simple_format(week_report.understood) %></td>
		<td><%= simple_format(week_report.next) %></td>
		<td>
			<%= link_to "編集する", edit_week_report_path(week_report),class: "btn btn-primary" %>
			<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal<%= week_report.id %>">削除する</button>
			<div class="modal fade" id="modal<%= week_report.id %>" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">本当に削除しますか？</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
						<%= link_to '削除', week_report, method: :delete, class: "btn btn-danger" %>
					</div>
				</div>
				</div>
			</div>
		</td>
	</tr>
<% end %>